/* * General styles * */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color); /* Light gray for background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrollbars */
}

.iframe-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 100px);
  padding: 2rem;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.left-sidebar {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 100px);
}

/* Blur effect */
.blur {
  filter: blur(5px);
  pointer-events: none;
}
